:root{
    --dark-blue: #0b2e41;
    --aqua: #00CCCC ;
    --light: #cad7e0
}

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.icon-menu{
    background-color: var(--aqua);
    height: 40px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;

}

.icon-menu__link{
    width: 25px;
    height: 5px;
    background-color: var(--dark-blue);

}

.header{
    padding: 10px 0 20px;
    background-color: var(--light);
}

.header__top__grid{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.header__logo{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color:var(--dark-blue);
}

.nav__item{
    display: inline-block;
    margin-right: 15px;
}

.nav__item a{
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    transition: 0.5s;

}

.nav__item a:hover{
    color: green;
}

.header__main{
    background-color: var(--aqua);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    padding:0 100px;


}

.header__text{
    width: 80%;
    line-height: 24px;
    text-align: center;
    font-size: larger;

}

.header__main button{
    background-color: var(--dark-blue);
    height: 40px;
    width: 150px;
    border-radius: 50px;
    color: #cad7e0;
}

.products__name{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:15px;

}

.products{
    background-color: var(--light);
    padding: 20px;

}

.products_grid{
    border: solid 3px var(--aqua);
    border-radius: 30px;
    height: 320px;
}

.products__list{
    column-gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.products__item{
    background-color: var(--dark-blue);
    height: 200px;
    width: 200px;
    color: black;
    border-radius: 10px;

}

.name{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 215px;
    font-weight: 500;
    font-size: 18px;
}

.about{
    background-color: var(--dark-blue);
    padding: 50px 0;
}

.about__grid{
    display: flex;
    justify-content: space-between;
}

.about__card{
    width: 30%;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
    color: var(--light);
    transition: 0.75s;
}

.about__photo > div{
    font-weight: 500;
    font-size: 20px;

}

.about__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--light);


}

.about__card:hover{
    border-color: var(--aqua);
}









